{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="filter-body" data-filter="row" >
    <div class="row-fluid">
        <div class="controls span3" data-filter="module" id="modules"></div>
		<div class="controls span3" data-filter="field" id="fields"></div>
        <div class="hide controls span3" data-filter="type" id="type"></div>
        <div class="hide controls span3" data-filter="value" id="options"></div>
        <div class="filter-actions btn-group">
            <button data-action="remove" class="btn btn-invisible btn-dark"><i class="fa fa-minus"></i></button>
            <button data-action="add" class="btn btn-invisible btn-dark"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>

