<head>
</head>
<link rel="stylesheet" type="text/css" href="custom/include/rt_maps/mapstyle/maps.css">
<script src="custom/include/rt_maps/mapstyle/rtmap.js"></script>
<div class = "record">
<div class="row-fluid panel_body">

<div class="span4 record-cell" data-type="text" data-name="postal_code_id">
<div class="record-label" data-name="postal_code_id">
{{str 'LBL_POSTAL_CODE' this.module}}
</div>
<span class="normal index" data-fieldname="postal_code_id" data-index="">
<span sfuuid="583" class="edit">
<input type="text" name="postal_address"  id="postal_code_id" value="" maxlength="100" class="inherit-width" placeholder="{{str 'LBL_POSTAL_ADDRESS_PLACEHOLDER' this.module}}" aria-label="postal_code_id">
</span>
</span>
</div>

<div class="span4 record-cell" data-type="text" data-name="radius_id">
<div class="record-label" data-name="radius_id">
{{str 'LBL_RADIUS' this.module}}
</div>
<span class="normal index" data-fieldname="radius_id" data-index="">
<span sfuuid="413" class="edit">
<input type="text" name="postal_address"  id="radius_id" value="" maxlength="100" class="inherit-width"  aria-label="postal_code_id">
</span>
</span>
</div>

<div class="span2 record-cell" data-type="bool" data-name="radius_in">
<div class="record-label" data-name="radius_in">
{{str 'LBL_RADIUS_IN' this.module}}
</div>
<span class="normal index" data-fieldname="radius_in" data-index="">
<span sfuuid="413" class="edit">
<input name="radio" id="radio_K" type="radio" value="K" checked="checked"/>Km
<input name="radio" id="radio_M" type="radio" value="M" />Miles
</span>
</span>
</div>
<!--
<div class="span1 record-cell" data-type="text" data-name="save_settings">
<span class="normal index" data-fieldname="save_settings" data-index="">
<span sfuuid="62" class="detail">
<a class="rowaction btn btn-primary" href="javascript:void(0);" style="margin-top:10px" name="save_settings" id="save_settings">Save</a>
</span>
</span>
</div> !-->
<div class="span2 record-cell" data-type="text" data-name="refresh">
<span class="normal index" data-fieldname="refresh" data-index="">
<span sfuuid="62" class="detail">
<a class="rowaction btn btn-primary" href="javascript:void(0);" style="margin-top:10px" name="refresh" id="refresh" onclick="refreshmap()">Load Map</a>

</span>
</span>
</div>
</div> <!-- End div class = row-fluid panel-body !-->
</div> <!-- End div class=record !-->
<div class="row" style="margin-left: 5px; display:none;">
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr style="height:50px">
						<td width="13.33%" id="paginator_div"></td>

						<td width="13%">
						</td>
						<td width="13.33%">
						</td>
						<td width="13%">
						</td>
						<td width="10%">
							<img title="Click Here to load Map" id="loadmap" style="background: none repeat scroll 0% 0% transparent; width: 40px; vertical-align: bottom; margin-left: 45px;cursor:pointer;display:none;" src="custom/include/rt_maps/images/globe.png" tabindex="-1">
						</td>
					</tr>
				</table>
			</div>

<!--This will display the direction panel and the directions result panel-->
<div class="containerDiv ">
			<input type="hidden" name="lat" id="lat_id" value=""/>
			<input type="hidden" name="lng" id="lng_id" value=""/>
	<div class="row" style="position:relative; margin:0;" >
  <div class="load">
            <div class="pop-box">
                <div class="info">
                    <h4 class="text-left">{{str 'LBL_EXTRA_RECORDS' this.module}}</h4>
                    <p>{{str 'LBL_REFINE_SEARCH' this.module}}</p>
                </div>
                </div>
            </div>
		<!-- This will show the directions related info -->
		<div id="result-panel">
			<div id="scroller" style="display:none;float:right;">
				<img src="custom/include/rt_maps/images/close_map.gif" />
			</div>

			<div id="search-panel" style="display:none;">
				<input id="origin" style="width:244px;" type="text" placeholder="Search Box Origin" onBlur="add_input_listener(this)" onClick="add_input_listener(this);" >
				<input id="add_swap" type="button" value="Swap" onClick="swap_add(document.getElementById('origin'),document.getElementById('destination'))";/>
				<br />
				<input id="destination" style="width:244px;" type="text" placeholder="Search Box Destination" onBlur="add_input_listener(this)" onClick="add_input_listener(this)" >
				<br />

				<input id='route_finder' type='button' value='Get Directions' onclick ='calcRoute(document.getElementById("origin").value,document.getElementById("destination").value);' />
        <input id='clear_routes' type='button' value='Clear Routes' onclick ='clearRoute();' />
      </div>

			<div id="directions-panel" style="position:relative;" ></div>
		</div>

		<div id="progressbar" style="display:none;">
			<img src="custom/include/rt_maps/images/progress.gif">
		</div>
		<div id="map_canvas" style="height:600px;" ></div>
	</div>
	<div class="row" style="margin: 0;">
		<div class="wrapper"><div id="map_key" class="mapsDesc"></div></div>
	</div>
	<div class="alert alert-process" id="alertDiv" style="float: right; left: 50%; position: absolute; top: 50%;">
		<strong>{{str 'LBL_LOADING' this.module}}</strong>
		<div class="loading">
			<span class="l1"></span><span class="l2"></span><span class="l3"></span>
		</div>
	</div>
</div>
<!-- Gecoded and Non geo coded information !-->
<div class="span12 maindiv" style="margin-left:20px" >
    <table id="customers_info" class="table tableset" width="100%" border="0" cellspacing="0" cellpadding="3px" style="">
      <tbody><tr>
        <td valign="top" id="name_label" width="8%" scope="col" style="padding-left:15px;">
          <span style="font-size:15px;font-weight:bold;">{{str 'LBL_TOTAL_LEADS' this.module}}</span>
        </td>
        <td valign="top" width="10%">
          <span readonly="" id="total_leads" title={{str 'LBL_READ_ONLY_TOTAL_LEADS' this.module}} size="30" maxlength="30" value="" accesskey="7"></span>
        </td>
        <td valign="top" id="name_label" width="8%" scope="col">
          <span style="font-size:15px;font-weight:bold;">{{str 'LBL_NON_GEO_CODED_LEADS' this.module}}</span>
        </td>
        <td valign="top" width="10%">
          <span type="text" readonly="" id="total_leads_non_geo" title={{str 'LBL_READ_ONLY_NON_GEO_CODED_LEADS' this.module}} size="30" maxlength="30" value="" accesskey="7"></span>
        </td>
      </tr>
      <tr>
        <td valign="top" id="name_label" width="8%" scope="col" style="padding-left:15px;">
          <span style="font-size:15px;font-weight:bold;">{{str 'LBL_TOTAL_CONTACTS' this.module}}</span>
        </td>
        <td valign="top" width="10%">
          <span type="text" readonly="" id="total_contacts" title={{str 'LBL_READ_ONLY_TOTAL_CONTACTS' this.module}} size="30" maxlength="30" value="" accesskey="7"></span>
        </td>
        <td valign="top" id="name_label" width="8%" scope="col">
          <span style="font-size:15px;font-weight:bold;">{{str 'LBL_NON_GEO_CODED_CONTACTS' this.module}}</span>
        </td>
        <td valign="top" width="10%">
          <span type="text" readonly="" id="total_contacts_non_geo" title={{str 'LBL_READ_ONLY_NON_GEO_CODED_CONTACTS' this.module}} size="30" maxlength="30" value="" accesskey="7"></span>
        </td>
      </tr>
      <tr>
        <td valign="top" id="name_label" width="8%" scope="col" style="padding-left:15px;">
          <span style="font-size:15px;font-weight:bold;">{{str 'LBL_TOTAL_ACCOUNTS' this.module}}</span>
        </td>
        <td valign="top" width="10%">
          <span type="text" readonly="" id="total_accounts" title={{str 'LBL_READ_ONLY_TOTAL_ACCOUNTS' this.module}} size="30" maxlength="30" value="" accesskey="7"></span>
        </td>
        <td valign="top" id="name_label" width="8%" scope="col">
          <span style="font-size:15px;font-weight:bold;">{{str 'LBL_NON_GEO_CODED_ACCOUNTS' this.module}}</span>
        </td>
        <td valign="top" width="10%">
          <span type="text" readonly="" id="total_accounts_non_geo" title={{str 'LBL_READ_ONLY_NON_GEO_CODED_ACCOUNTS' this.module}} size="30" maxlength="30" value="" accesskey="7"></span>
        </td>
      </tr>
    </tbody></table>
  </div>
