#stikinotescontainer {
    position: absolute !important;
    width: auto !important;
    background-color: none;
    cursor: move;
    z-index: 1040;
    display: inline-flex;
}

#stikinotescontainer.ui-draggable-dragging {
    box-shadow: none !important;
}

#stikinotescontainer.isvisible {
    visibility: visible;
}

#stikinotescontainer.ishidden {
    visibility: hidden;
}

#maincontainer {
}

#menubar {
    height: 29px;
    width: 250px;
    margin-bottom: 10px;
    background-color: #febf26 !important;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
    font-size: 12px;
}

#menubar i {
    position: relative;
    float: left;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #606060;
}

#menubar div#menuthree i {
    color: #858585 !important;
}

#notecontainer {
    width: 250px;
    height: 300px;
    box-shadow: 2px 1px 4px 0px #99999980;
}


#notecontainer.notecontainerassigned {
    background-color: #faf39f !important;
    color: black !important;
}

#notecontainer.notecontainerunassigned {
    background-color: #c5ffc3 !important;
    color: black !important;
}

#menubar.isvisible {
    visibility: visible;
}

#menubar.ishidden {
    visibility: hidden;
}

#notecontainer form {
    background-color: inherit;
    width: 100%;
    height: 90%;
    color: inherit;
}

#firstpane {
    width: 100%;
    height: 15%;
    display: flex;
    background-color: inherit;
}

#firstpane #subjectinput {
    width: 90%;
    height: 100%;
    float: left;
    border: none;
    font-size: 16px;
    background-color: inherit;
    word-wrap: break-word;
}


#firstpane #subjectinput span{
    font-size: 16px;
    color: #404040;
    background-color: inherit;
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#firstpane #subjectinput input{
    font-size: 16px;
    color: #404040;
    background-color: inherit;
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#firstpane #subjectinput input::placeholder {
    color: #404040;
}


#firstpane #menuellipses {
    width: 10%;
    cursor: pointer;
    right: 0;
}

#firstpane #menuellipses i{
    font-size: large;
    color: #606060;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#textareainput {
    width: 100%;
    height: 85%;
    resize: none;
    border: none;
    color: inherit;
    font-size: 13px;
    box-sizing: border-box;
    background-color: inherit;
    line-height: 20px;
    word-wrap: break-word;
    display: block;
}

#textareainput span {
    width: 100%;
    height: 100%;
    border: none;
    color: #606060;
    font-size: 13px;
    box-sizing: border-box;
    background-color: inherit;
    line-height: 20px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#textareainput textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    color: #606060;
    font-size: 13px;
    box-sizing: border-box;
    background-color: inherit;
    line-height: 20px;
    word-wrap: break-word;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

#navigationbar {
    height: 30px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #febf26;
    margin-top: 10px;
}

#navigationbar #navigateleft {
    color: #858585;
    font-size: 13px;
    float: left;
    padding-left: 10px;
    cursor: pointer;
}

#navigationbar #navigateright {
    color: #858585;
    font-size: 13px;
    float: right;
    padding-right: 10px;
    cursor: pointer;
}

#navigationbar #navigationbarcount {
    font-size: 13px;
    color: #858585;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#minimizedbar {
    position: absolute !important;
    height: 45px;
    width: 250px;
    right: 0;
    bottom: 45px;
    visibility: hidden;
    z-index: 1055;
    overflow: hidden;
    background-color: #ffffff !important;
    border: #dddddd 1px solid;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

#minimizedbar.isvisible {
    visibility: visible;
}

#minimizedbar.ishidden {
    visibility: hidden;
}

#minimizedbar img {
    height: 26px;
    width: 128px;
    margin-left: auto;
    position: absolute;
}

#minimizedbar i {
    color: #858585;
    height: 14px;
    width: 14px;
    right: 0;
    cursor: pointer;
    margin-left: auto;
}

#rightcontainer {
    margin-top: 39px;
    margin-left: 10px;
    font-size: small;
}

#rightcontainer.isvisible {
    visibility: visible;
    display: block;
}

#rightcontainer.ishidden {
    visibility: none;
    display: none;
}

#linkcontainer {
    width: 200px;
    right: 0;
    top: 0;
    color: #404040;
    box-sizing: border-box;
    border: #dddddd 1px solid;
    font-size: 12px;
}

#linkcontainer.isvisible {
    width:200px;
    visibility: visible;
    display: block;
}

#linkcontainer.ishidden {
    width:0px;
    visibility: none;
    display: none;
}

#linkcontainer #titlebar {
    height: 29px;
    background-color: #e5e5e5 !important;
    overflow: hidden;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linkcontainer #linkbody {
    padding: 10px;
    background-color: #ffffff;
}

#linkcontainer i {
    margin-right: 5px;
    color: #404040;
}

#linkcontainer select {
    width: 180px;
    box-sizing: border-box;
}

#linkcontainer input {
    width: 180px;
    color: #404040;
    margin-top: 10px;
    box-sizing: border-box;
}

#linkcontainer input[type=button] {
    height: 30px;
    width: 180px;
    color: #404040;
    margin-top: 10px;
    background-color: #febf26;
    box-sizing: border-box;
    border: none;
    font-weight: 600;
}

#sharecontainer {
    width: 200px;
    right: 0;
    bottom: 0;
    color: #404040;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 12px;
    border: #dddddd 1px solid;
}

#sharecontainer.isvisible {
    width: 200px;
    visibility: visible;
    display: block;
}

#sharecontainer.ishidden {
    width: 0px;
    visibility: none;
    display: none;
}

#sharecontainer #titlebar {
    height: 29px;
    background-color: #e5e5e5 !important;
    overflow: hidden;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sharecontainer #linkbody {
    padding: 10px;
    background-color: #ffffff;
}

#sharecontainer i {
    color: #404040;
    margin-right: 5px;
}

#sharecontainer select {
    width: 180px;
    box-sizing: border-box;
    color: #404040;
}

#sharecontainer input {
    height: 30px;
    width: 180px;
    color: #404040;
    margin-top: 10px;
    background-color: #febf26;
    border: none;
    font-weight: 600;
}

#leftcontainer {
    margin-top: 39px;
    font-size: medium;
    color: white;
    margin-right: 10px;
}

#leftcontainer.isvisible {
    visibility: visible;
    display: block;
}

#leftcontainer.ishidden {
    visibility: none;
    display: none;
}

#notesList {
    width: 200px;
    height: 300px;
    overflow-y: auto;
}

#notesList.isvisible {
    width: 200px;
    visibility: visible;
}

#notesList.ishidden {
    width: 0px;
    visibility: none;
}

#notesList ul li{
    background: #ffffff;
    color: #606060;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
    font-size: 13px;
    padding: 4px 10px;
    box-sizing: border-box;
    border-left: #dddddd 1px solid;
    border-right: #dddddd 1px solid;
    border-bottom: #dddddd 1px solid;
}

#notesList ul {
    margin: 0px;
    overflow-y: auto;
}

#notesList ul li.selected {
    background-color: #febf26 !important;
    color: #606060;
    list-style-type: none;
}
