<style>
    div.customMainPane
    {
        padding-top: 5%;
    }
</style>
<div>
    <div class="headerpane">
        <h1>
            <div class="record-cell">
                <span class="module-title">RT SalesMap</span>
            </div>
            <div class="btn-toolbar pull-right">
                <span sfuuid="123" class="edit"><a class="btn btn-primary" href="javascript:void(0);" name="save_button" id="save_button">Save</a></span>
            </div>
        </h1>
    </div>
    <div class="record" style="margin-top: 20px;">
        <div class="row-fluid panel_body">
                <div class="span4 record-cell" data-type="url" data-name="website" style="margin-left: 2.12765957%;text-align:right">
                    <div class="record-label" data-name="website">
                        <b>Users</b>
                    </div>
                </div>
                <div class="span6 record-cell" data-type="enum" data-name="industry">
                    <div class="record-label" data-name="industry">
                        <b>Marker Color on Google Maps</b>
                    </div>
                </div>

            {{#each this.usersColor}}
                <div class="span4 record-cell" data-type="url" data-name="website" style="margin-left: 2.12765957%;">
                    <span class="normal index" data-fieldname="website" data-index="" >
                        <span sfuuid="453" class="detail" style="margin-bottom: 0px;text-align: right;">
                            {{#notEq this.first_name ""}}{{this.first_name}} {{/notEq}} {{#notEq this.last_name ""}}{{this.last_name}} {{/notEq}}
                        </span>
                    </span>
                </div>
                <div class="span6 record-cell" data-type="enum" data-name="industry">
                    <span class="normal index" data-fieldname="industry" data-index="">
                        <span sfuuid="454" class="detail" style="margin-bottom: 0px;">
                        <input type="color" id='{{this.id}}' name='{{this.id}}' value="{{this.map_color}}"/>
                        </span>
                    </span>
                </div>
            {{/each}}

            

        </div>
    </div>
</div>