<style>
	div.customMainPane
	{
		padding-top: 5%;
	}
</style>
<div>
	<div class="headerpane">
		<h1>
		<div class="record-cell">
			<span class="module-title">{{title}}</span>
		</div>
		<div class="btn-toolbar pull-right">
			<span sfuuid="123" class="edit">
			<a class="btn btn-primary" href="javascript:void(0);" name="validate_button" id="validate_button">
				{{LBL_VALIDATE_LABEL}}
			</a>
			<a class="btn btn-primary hide" href="javascript:void(0);" name="continue_button" id="continue_button">
				{{LBL_CONTINUE_LABEL}}
			</a>
			<a class="btn btn-primary hide" href="javascript:void(0);" name="boost_button" id="boost_button">
				{{LBL_BOOST_LABEL}}
			</a
			</span>
		</div>
		</h1>
	</div>
	<div class="record">
		<div class="row-fluid panel_body">
			<div class="span4 record-cell" data-type="text" data-name="license_key_steps">
			<p>{{LBL_STEPS_TO_LOCATE_KEY_TITLE}}</p>
			<div class="record-label" data-name="">
				{{LBL_STEPS_TO_LOCATE_KEY1}}
			</div>
			<div class="record-label" data-name="">
				 {{LBL_STEPS_TO_LOCATE_KEY2}}
			</div>
			<div class="record-label" data-name="">
				 {{LBL_STEPS_TO_LOCATE_KEY3}}
			</div>
			<div class="record-label" data-name="">
				 {{LBL_STEPS_TO_LOCATE_KEY4}}
			</div>
			<div class="record-label" data-name="">
				 {{LBL_STEPS_TO_LOCATE_KEY5}}
			</div>
			</div>
		</div>
		<div class="row-fluid panel_body">
			<div class="span4 record-cell hide" id="users_count" data-type="text" data-name="users_count">
				<div class="record-label " id="salesmap_users"></div>
				<div class="record-label " id="licensed_users"></div>
			</div>
		</div>
		<div class="row-fluid panel_body">
			<div class="span4 record-cell" data-type="text" data-name="license_key">
			<div class="record-label" data-name="license_key">{{LBL_LICENSE_KEY}}</div>
			<span class="normal index" data-fieldname="license_key" data-index="">
			<span sfuuid="317" class="edit">
			<input type="text" name="license_key" id="license_key" value="{{license_key}}" maxlength="100" class="inherit-width" style="height: inherit" placeholder="{{LBL_LICENSE_KEY}}" />
			</span>
			</span>
			</div>
		</div>
	</div>
</div>