<style>
	div.customMainPane
	{
		padding-top: 5%;
	}
</style>
<div>
	<div class="headerpane">
		<h1>
		<div class="record-cell">
			<span class="module-title">RT SalesMap</span>
		</div>
		<div class="btn-toolbar pull-right">
			<span sfuuid="123" class="edit"><a class="btn btn-primary" href="javascript:void(0);" name="save_button" id="save_button">Save</a></span>
		</div>
		</h1>
	</div>
	<div class="record">
		<div class="row-fluid panel_body">
                    <div class="span6 record-cell" data-type="text" data-name="googleapi_key_steps">
                        <p>Google API key</p>
                        <div class="record-label" data-name="">
                        Go to the <a target="_blank" href="https://console.developers.google.com" >Google API Console</a>, login with your gmail id and Continue to Google Developers Console.
                        </div>
                        <div class="record-label" data-name="">
                            To Enable the API's go to the <a target="_blank" href="https://console.developers.google.com/apis/api/maps_backend/overview">Google Maps JavaScript API and Google Maps Geocoding API</a>. If you have not created the project then first create the project. 
                        </div>
                        <div class="record-label" data-name="">
                            After enabling the <a target="_blank" href="https://console.developers.google.com/apis/api/maps_backend/overview">Google Maps JavaScript API and Google Maps Geocoding API </a>  click on the Credentials and create the API key. 
                        </div>
                        <div class="record-label" data-name="">
                            Save the key and enter this key into the below input box.
                        </div>
                    </div>
		</div>
		<div class="row-fluid panel_body" style="padding-top: 1%;">
			<div class="span4 record-cell" data-type="text" data-name="apibw_key">
                <div class="record-label" data-name="apibw_key">Google Browser API key</div>
                <span class="normal index" data-fieldname="apibw_key" data-index="">
                    <span sfuuid="317" class="edit">
                        <input type="text" name="apibw_key" id="apibw_key" value="{{apibw_key}}" maxlength="100" 
                        	class="inherit-width" style="height: inherit" placeholder="Google Browser API key" />
                    </span>
                </span>
			</div>
		</div>
		<div class="row-fluid panel_body" style="padding-top: 1%;">
			<div class="span4 record-cell" data-type="text" data-name="apisr_key">
                <div class="record-label" data-name="apisr_key">Google Server API key</div>
                <span class="normal index" data-fieldname="apisr_key" data-index="">
                    <span sfuuid="317" class="edit">
                        <input type="text" name="apisr_key" id="apisr_key" value="{{apisr_key}}" maxlength="100" 
                        	class="inherit-width" style="height: inherit" placeholder="Google Server API key" />
                    </span>
                </span>
			</div>
		</div>
	</div>
</div>